<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/_auth/login/login.css">
    <title>PAGE2</title>
</head>

<body>
    <header>
        <div class="container">
            <div class="logo"><span>WELLS FARGO</span>
            </div>
            <div class="right">
                <ul>
                    <li>ATMs/Locations</li>
                    <li>Help</li>
                    <li>About Us</li>
                    <li>Espanol</li>
                    <li> Search </li>
                    <li> Sign On</li>

                </ul>
            </div>
        </div>
        <hr style="border: 1px solid #ffff4d;">
        <div class="left">
            <ul>
                <li>Personal</li>
                <li>Investing & Wealth Management</li>
                <li>Small Business</li>
                <li>Commercial Banking</li>
                <li>Corporate & Investment Banking</li>


            </ul>
        </div>
        <div class="lefta">
            <ul>
                <li>Checking</li>
                <li>Savings & CDs</li>
                <li>Credits Card</li>
                <li>Home Loans</li>
                <li>Personal Loans</li>
                <li>Auto Loans</li>
                <li>Premier</li>
                <li>Education & Tools</li>

            </ul>
        </div>
        <div class="main">
        <div class="login">
            <div class="form-wrapper sign-in">
                <form class="form" [formGroup]="logInForm">
                    <h2>Good Evening</h2>
                    <p>Sign on to manage your account</p>
                    <div class="input-group">
                        <input type="text" formControlName ="email">
                        <label for="">Username</label>
                        <span class="text-danger"
                                *ngIf="(d.email.touched || submitted) && d.email.errors?.required">
                                Email is required
                            </span>
                    </div>
                    <div class="input-group">
                        <input type="password" formControlName ="password" >
                        <label for="">Password</label>
                        <span class="text-danger"
                                *ngIf="(d.password.touched || submitted) && d.password.errors?.required">
                                password is required
                            </span>
                    </div>
                    <!-- <div class="wrapper">
                        <input type="ckeckbox" id="check">
                        <label for="check">Save username</label>
                        
                    </div> -->
                    <button type="button" class="btn" (click) ="login()">Login</button>
                    <div class="sign-link">
                        <p>Don't have an account? <a href="#" class="signUp-link">Sign Up</a></p>
                    </div>
                    <div class="pass">
                        <p>Forget username or password?<br>
                            Security Center <br>
                            Privacy, Cookies, and legal
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="main2">
        <div>
            <h1>$300 checking bonus on us</h1>
            <p>New Customers Open an Eligible Checking Account with Qualifying Electronic Deposits</p>
        </div>
        <button type="submit" class="btn2">Get Started>></button>

        <div class="index">
            <img src="../../assets/home300.png" >
            <!-- <div class="one"><hr></div>
            <div class="one">Enjoy <br><sup>$</sup>300</div>
            <div class="one"><hr></div> -->
            <!-- <ul class="one">
                <li><hr></li>
                <li>Enjoy</li>
            </ul>
            <ul class="two">
                <li><sup>$</sup>300</li>
                <li><hr></li>

            </ul> -->
        </div>
    </div>
    <footer>
        <div>
            <div class="footer1">
               <ul>
                <p>Investment and Insurance Products are:</p>
                <li>Not Insured by the FDIC or Any Federal Government Agency</li>
                <li>Not a Deposit or Other Obligation of, or Guaranteed by, the Bank or Any Bank Affiliate</li>
                <li>Subject to Investment Risks, Including Possible Loss of the Principal Amount Invested</li>
               </ul>
               
            </div>
            <div class="pass1">
                <h2>Deposit products offered by Wells Fargo Bank, N.A. Member FDIC.</h2>
               </div>
            <hr style="border: 1px solid #cac6c6;">
            <div class="footer2">
                <ul>
                    
                    <li>About Wells Fargo</li>
                    <li>|</li>
                    <li>Notice of Data Collection</li>
                    <li>|</li>
                    <li>General Terms of Use</li>
                    <li>|</li>
                    <li>Online Access Agreement</li>
                    <li>| </li>
                    <li>Ad Choices</li>
                    <li>|</li>
                    <li>Report Fraud</li>
                    <li>|</li>
                    <li>Privacy, Cookies, Security & Legal</li>
                    <li>|</li>
                    <li>Careers</li>
                    <li>| </li>
                    <li>Diversity & Accessibility</li>
                    <li>| </li>
                    <li>Sitemap</li>
    
                </ul>
               </div><hr style="border: 1px solid #cac6c6;">
        </div>
        <div class="Wells">
            <p>© 1999 - 2024 Wells Fargo. NMLSR ID 399801</p>
           </div>

    </footer>
       
       
       
    </header>
    
</body>

</html>