<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="style1st.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" 
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A
    ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>WELLS FARGO 1ST </title>
</head>

<body>
    <header>
        <div class="container">
            <div class="logo"><span>WELLS FARGO</span>
            </div>
            <div class="right">
                <ul>
                    <li><i class="fa fa-magnifying-glass"></i>Search</li>
                    <li>|</li>
                    <li><i class="fa fa-lock"></i>Sign Off</li>
                    <li>|</li>
                    <li><i class="fa fa-circle-user"></i>Welcome, MEENU</li>

                </ul>
            </div>
        </div><hr style="border: 2px solid #ffcc00;">
        <div class="left">
            <ul >
                <li>Accounts</li>
                <li>|</li>
                <li>Brokerage</li>
                <li>|</li>
                <li>Transfer & Pay</li>
                <li>|</li>
                <li>Plan & Learn </li>
                <li>| </li>
                <li>Security & Support </li>

            </ul>
        </div><hr>
        <div class="right" style="background-color: rgba(245, 244, 244, 0.938)">
            <ul>
                <li><i class="fa fa-house-chimney"></i>Account Summary</li>
                <li><i class="fa fa-caret-down"></i>Switch Accounts</li>
                <li><i class="fa fa-print"></i>Print</li>

            </ul>
        </div>
        <div class="cont">


            <div class="data">
                <ul>
                    <li>Date</li>
                    <li>Description</li>
                    <li>Deposit/Credits</li>
                    <li>Withdrawls/Debits</li>
                    <li style="color: black;">Ending Daily Balance</li>
                </ul>

            </div>

            <div class="contdata">
                <main>
                    <p>Pending Transcations </p>
                </main>
                <div>
                    <span>No Transcations to view</span>
                </div>
                <main>
                    <p>Posted Transcations </p>
                </main>
               
                <table>
                    <tr   *ngFor ="let details of tranxDetails"> 
                                      <td>{{details?.tnx_date | date :'dd/MM/yyyy'}}</td>
                                      <td>{{details?.description}} </td>
                                      <!-- <td>&nbsp;</td> -->
                                      <td>{{details?.debits}}/{{details?.credits}} </td>
                                      <td>{{details?.debits}}/{{details?.credits}} </td>
                                      <td>{{details?.total_daily_balance}} </td>
                  
                                 </tr>
                
                  </table>
            </div>
        </div>
        <footer>
            <div>
                <div class="footer1">
                   <ul>
                    <p>Investment and Insurance Products are:</p>
                    <li>Not Insured by the FDIC or Any Federal Government Agency</li>
                    <li>Not a Deposit or Other Obligation of, or Guaranteed by, the Bank or Any Bank Affiliate</li>
                    <li>Subject to Investment Risks, Including Possible Loss of the Principal Amount Invested</li>
                   </ul>
                   
                </div>
                <div class="pass1">
                    <h2>Deposit products offered by Wells Fargo Bank, N.A. Member FDIC.</h2>
                   </div>
                <hr style="border: 1px solid #cac6c6;">
                <div class="footer2">
                    <ul>
                        
                        <li>About Wells Fargo</li>
                        <li>|</li>
                        <li>Notice of Data Collection</li>
                        <li>|</li>
                        <li>General Terms of Use</li>
                        <li>|</li>
                        <li>Online Access Agreement</li>
                        <li>| </li>
                        <li>Ad Choices</li>
                        <li>|</li>
                        <li>Report Fraud</li>
                        <li>|</li>
                        <li>Privacy, Cookies, Security & Legal</li>
                        <li>|</li>
                        <li>Careers</li>
                        <li>| </li>
                        <li>Diversity & Accessibility</li>
                        <li>| </li>
                        <li>Sitemap</li>
        
                    </ul>
                   </div><hr style="border: 1px solid #cac6c6;">
            </div>
            <div class="Wells">
                <p>© 1999 - 2024 Wells Fargo. NMLSR ID 399801</p>
               </div>
    
        </footer>
       </header>    
</body>

</html>


